---
// Component Imports
import Main from "../components/Main.tsx"
import Header from "../components/Header.tsx"
import Footer from "../components/Footer.tsx"
import SEO from "../components/SEO.tsx"

// Component Script:
---

<html lang="en">
  <head>
    <style global>
      @import "../styles/global.css";
    </style>
    <SEO title="Welcome" imageAlt="Welcome" />
    <meta charSet="UTF-8" />
    <script
      src="https://cdn.jsdelivr.net/npm/howler@2.2.3/dist/howler.core.min.js"
    ></script>
    <script>
      const sound = new Howl({
        src: ["/assets/Rick.mp3"],
        loop: true,
        html5: true,
        preload: true,
      })

      sound.play()
    </script>
  </head>
  <body>
    <main>
      <header>
        <Header />
      </header>
      <Main />
      <footer>
        <Footer mt="mt-12" />
      </footer>
    </main>
  </body>
</html>
